* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    position: relative;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
body{
    background-color: #f3f3f3;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    margin: auto;
    padding: 30px 0;
}

.nav-item {
    display: inline-block;
    margin-right: 45px;
}
.nav-item.active {
    color: black;
    border-bottom: 1px solid black;
}
.nav-item a:hover {
    color: black;
}
.nav-item:last-child{
    margin-right: 0;
}
.nav-item a {
    color: #777777;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.menu {
    margin: 36px 0;
    border: 1px solid #e1e1e1;
    border-left: none;
    border-right: none;
    padding: 16px;
    text-align: center;
}

.menu-item {
    display: inline-block;
    vertical-align: middle;
    padding: 0 8px;
    text-transform: uppercase;
}

.menu-item a {
    color: #777;
    text-decoration: none;
}
.menu-item:hover a {
    color: #000;
    text-decoration: none;
}

.line {
    width: 1px;
    height: 30px;
    background-color: #e1e1e1;
    transform: rotate(30deg);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery-col {
    flex: 33.3%;
    max-width: 33.3%;
    padding: 0 28px;
}

.gallery-col:first-child {
    padding-left: 0;
}

.gallery-col:last-child{
    padding-right: 0;
}

.gallery-item {
    margin-bottom: 35px;
    width: 100%;
    background-color: white;
}

.small .gallery-col {
    padding: 5px;
}
.small .gallery-item {
    margin-bottom: 10px;
}
.gallery img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .gallery-col {
        flex: 100%;
        max-width: 100%;
    }
}

.owl-carousel .js {
    display: flex;
}

.notebook img{
    width: 100%;
    position: relative;

}
h2{
    display: inline-block;
    background-color: black;
    padding: 11px 71px;
    color: white;
    margin-bottom: 37px;
    font-family: 'Roboto light', sans-serif;
    text-transform: uppercase;
}
h4{
    text-align: center;
    font-family: 'Roboto light', sans-serif ;
}
.section{
    max-width: 1140px;
    margin: auto;
}
.text{
    position: absolute;
    top: 200px;
}
main{
    max-width: 1140px;
    margin: auto;
}
main .left{
    max-width: 360px;
    float: left;
}
main .right{
    max-width: 752px;
    float: right;
}
main .left h3{
    text-transform: uppercase;
    margin-bottom: 19px;
    font-size: 30px;
    font-weight: lighter;
}
main .left h4{
    font-weight: lighter;
}
main .left h4:after{
    margin-top: 19px;
    content: "";
    display: block;
    height: 1px;
    width: 75px;
    top: 25px;
    background-color: black;
}
main .left p{
    line-height: 40px;
}
input{
    background-color: white;
    height: 40px;
    width: 357px;
    padding-left: 11px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: solid #ebebeb 1px;
}
.name{
    margin-right: 30px;
}
textarea{
    background-color: white;
    resize: none;
    box-sizing: border-box;
    height: 150px;
    width: 751px;
    padding-left: 11px;
    margin-bottom: 10px;
    border: solid #ebebeb 1px;
}
.btn-black{
    border: none;
    background-color: black;
    color: white;
    height: 41px;
    width: 218px
}

.banner {
    height: 350px;
    background-image: url("../images/05_blog_02.png");
    background-size: cover;
}
iframe{
    width: 100%;
    min-height: 361px;
    margin-top: 70px;
}
footer{
    min-height: 300px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
footer p{
    text-align: center;
    color: #777777;
    border-top: solid 1px #ebebeb;
    padding: 37px 0;
}
.icons{
    text-align: center;
}
.icons i{
    text-align: center;
    font-size: 14px;
    color: #777777;
    padding-right: 59px;
    margin: 25px 0;
}
footer img {
    margin: 65px auto 44px;
    display: block;
    padding-top: 64px;
}
footer div{
    border-bottom: solid 1px #ebebeb;
}
.main2{
    text-align: center;
}
.main2 h3{
    font-size: 30px;
    text-transform: uppercase;
    padding: 98px 0 46px 0;
}
.main2 p{
    padding-bottom: 66px;
}

.btn-container {
    text-align: center;
}

.btn-grey {

}
.js{
    margin: auto;
}
.textposition{
    max-width: 358px;
    float: left;
    display: inline-block;
    margin-right: 22px;
    margin-bottom: 26px;
    text-align: left;
}
.textposition:last-child {
    margin-right: 0;
}
.textposition img{
    margin-bottom: 26px;
}
.textposition h3{
    margin-bottom: 14px;
    font-weight: lighter;
}
span{
    font-weight: bold;
}

.text_black{
    font-size: 20px;
    margin-bottom: 22px;

}
.by{
    color: #cccccc;
    font-size: 13px;

}
.button_black{
    background-color: black;
    padding: 10px 18px;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
    border: none;
    margin-bottom: 29px;

}
.many_text{
    margin: 37px 0;
    color: #777777;
}
.text_grey{
    text-align: center;
    text-transform: uppercase;
    padding: 15px 35px;
    background-color: #ebebeb;
}
.text_black2{
    font-size: 16px;
    margin-bottom: 20px;
}

.content {
    padding: 25px;
}
.flex_mini{
    display: flex;
    margin-bottom: 25px;
}
.flex_mini .description {
    margin-left: 25px;
}
.flex_mini img{
    width: 92px;
}
.text_mini_grey{
    display: inline-block;
    font-size: 13px;
    color: #777777;
    padding: 6px 10px;
    border: solid 1px #ebebeb;
    border-radius: 5px;
    margin: 0 10px 10px 0;
}

main{
    padding-top: 70px;
}
.text_mini_grey:hover{
    background-color: black;
    color: #ebebeb;
}
.hover_grey .gallery-item:hover{
    background-color: grey;
    color: white;
}
.search {
    display: flex;
}
.search_blog {
    height: 60px;
    margin-bottom: 0;
    background-color: #fff;
    border-right: 0;
}
.search_btn {
    background: #fff;
    height: 60px;
    padding: 12px;
    border: solid #ebebeb 1px;
    border-left: 0;
}
.search_btn button {
    background: #999999;
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 3px;
}
.search_btn i {
    color: #fff;
}
.flex_search{
    display: flex;
}
.navigation-box {
    background-color: white;
}
.navigation {
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}
.navigation a{
    color: black;
    text-decoration: none;
    margin-right: 95px;
    text-transform: uppercase;
    font-weight: bold;
}
.flex{
    display: flex;
}
.all_text{
    margin-right: 39px;
}
.galleri_mini img{
    margin: 0 2px;
    box-sizing: border-box;
}
.galleri_mini img:first-child{
    margin-left: 0px;
}
.galleri_mini img:last-child{
    margin-left: 0;
}
hr{
    color: #999999;
    margin: 40px 0;
}
.bold_text{
    color: #555555;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 27px;
}
.title_big{
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 27px;
}
.mini_grey_text{
    color: #777777;
    font-size: 17px;
    margin-bottom: 60px;
}
.icons_grey{
    background-color: #e1e1e1;
    max-width: 285px;
    border-radius: 5px;

}
.icons_grey i{
    font-size: 14px;
    color: #777777;
    padding: 15px;
}
.share{
    color: white;
    background-color: #707070;
    padding: 15px 5px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 13px;
    margin-right: 15px;
}
.icons_sosial{
    display: flex;
    margin-bottom: 140px;
}
.text_centre{
    text-align: center;
    max-width: 520px;
    margin: auto;
}